
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;


}



/*-------------heading section--------------------*/





.main-body
{
    background: #fff;
    min-height: 100vh;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    transition: 0.6s;
    padding: 30px 50px;
   

}
header .navbar{
    width: 100%;
}
.navbar-nav{
    margin-left: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .logo{
    position: relative;
     
   transition: 0.6s;
    
}
.nav-item{
    
    font-weight: bold;
    padding-left: 30px;
    position: relative;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    

}
.nav-link a{
    text-decoration: none;
    color: black;

}




/*-------------banner section--------------------*/



