@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body{
  overflow-x:hidden ;
  font-family: 'Lato', sans-serif;
  color: #505962;

}

/*------Navigation-----*/

.navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: .6rem;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, 0.6) !important;
}
.navbar-brand img{
  height: 2rem ;
}
.navbar-nav li{
  padding-right: .7rem;
}
.navbar-dar .navbar-nav .nav-link {
  color: #fff;
  padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #a27c0b;
}


/*-------Landing Page-------*/

.home-inner{
  background-image: url(img/Banner.png);
}
.caption{
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 45%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}.caption h1{
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .2rem;
  text-shadow: .1rem .1rem .8rem black ;
  padding-bottom: .5rem;
}
.caption h3{
  font-size:  1rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.3rem;
}
.btn-lg{
  border-width: medium;
  border-radius: 0;
  padding: .4rem .8rem;
  font-size: 1rem;
}


/*---------About Section----------*/

.about{
  padding: 2rem;
}
.about-button{
  padding: 1rem;
}
.about-section{
  padding-top: 1rem;
}
.about-image{
  border-radius: 0.2rem;
  height: 20rem;
  box-shadow: .1rem .1rem .5rem black ;
}












/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
